
<!DOCTYPE html>
 <button>Нажмите меня</button>
 <title>Ввод time — schoolsw3.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<style>
div {
position: absolute;
top:50px;
left:100px;
width: 200px;
height: 200px;
border-radius: 50%;
background-color: #FF3D00;
transition: left 2s linear 0.2s;
}
div:hover {
left: 200px;
}
</style>
 
  <h1>HTML5 Ввод time</h1>

  <form>
   <label for="appt">Выберите время:</label>
   <input type="time" id="appt" name="appt">
  </form>
<head>
	 <title>Изображение карта — schoolsw3.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 
 
  <h1>HTML5 Изображение карта</h1>

  <p>Нажать на солнце или на одной из планет, чтобы посмотреть его ближе:</p>

  <img src="planets.gif" alt="Планеты" usemap="#planetmap" style="width:145px;height:126px;">

  <map name="planetmap">
    <area shape="rect" coords="0,0,82,126" alt="Солнце" href="sun.htm">
    <area shape="circle" coords="90,58,3" alt="Меркурий" href="mercur.htm">
    <area shape="circle" coords="124,58,8" alt="Венера" href="venus.htm">
  </map>
	 <title>Класс тегов — schoolsw3.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" 
  <style>
   .city {
     background-color: tomato;
     color: white;
     padding: 10px;
   } 
  </style>
 
  <h1>HTML5 Класс тегов</h1>
  <h2>L</h2>
  <p>j</p>
  <h2 class="city">Париж</h2>
  <p class="city">Париж является столицей Франции.</p>

	 <form>
   <label for="favcolor">Выберите свой любимый цвет:</label>
   <input type="color" id="favcolor" name="favcolor">
  </form>
	
	<nav> 
             <a href="https://html-css-js.com/">хтмл цсс</a> 
             <a href="https://www.w3schools.com/">помощник</a> 
             <a href="https://katalog-kursov.ru/lessons/html-css/">каталог курсов</a> 
         </nav>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<p>Я нормальный</p>
  <p style="color:red;">Я красный</p>
  <p style="color:blue;">Я синий</p>
  <p style="font-size:50px;">Я большой</p>

  <p>HTML таблица начинается с тега table.</p>
  <p>Строки таблицы начинаются с тега tr.</p>
  <p>Данные таблицы начинаются с тега td.</p>

  <hr>
  <h2>1 столбец:</h2>

  <table>
   <tr>
    <td>100</td>
   </tr>
  </table>

  <hr>
  <h2>1 строка и 3 столбеца:</h2>
  <table>
   <tr>
    <td>100</td>
    <td>200</td>
    <td>300</td>
   </tr>
  </table>

  <hr>
  <h2>3 строки и 3 столбеца:</h2>
  <table>
   <tr>
    <td>100</td>
    <td>200</td>
    <td>300</td>
   </tr>
   <tr>
    <td>400</td>
    <td>500</td>
    <td>600</td>
   </tr>
   <tr>
    <td>700</td>
    <td>800</td>
    <td>900</td>
   </tr>
  </table>

 <hr>
	<title>Ввод text — schoolsw3.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body>
 
  <h1>HTML5 Ввод text</h1>

  <form>
   <label for="fname">Имя:</label><br>
   <input type="text" id="fname" name="fname"><br>
   <label for="lname">Фамилия:</label><br>
   <input type="text" id="lname" name="lname">
  </form>
	 
	  <title>Ввод password — schoolsw3.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body>
 
  <h1>HTML5 Ввод password</h1>

  <form>
   <label for="username">Имя пользователя:</label><br>
   <input type="text" id="username" name="username"><br>
   <label for="pwd">Пароль:</label><br>
   <input type="password" id="pwd" name="pwd">
  </form>
  <title>Ввод date — schoolsw3.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body>
 
  <h1>HTML5 Ввод date</h1>

  <form>
   <label for="birthday">День рождения:</label>
   <input type="date" id="birthday" name="birthday">
  </form>

self.formula = "0"
self.lbl = Label(text=self.formula, font=("Times New Roman", 21, "bold"),
                 bg="#000", foreground="#FFF")
self.lbl.place(x=11, y=50)
	
<html lang="ru">
<meta charset="utf-8">
<title>Моя страница</title>
<link rel="stylesheet" href="popova.css">
<link rel="icon" href="icc.ico"> 
<style type ="text / html">
</style>
</head>


 <body bgcolor=rebeccapurple text=’blue’>   
<a href= "https://go.glideapps.com/">glide</a>

<body bgcolor=rebeccapurple text=’blue’>
<img src="tv23.jpg">    
<a href= "https://dewiar.com/">помощник</a>

<a href= "https://myneuralnetworks.ru/">художник</a>
<img src="DD.png">
<a href= "https://differentdimensionme.net/#demo">рисовальщик</a>


<a href= "https://app.leonardo.ai/ai-generations">рисовальщик 2</a>



<a href="http://html-css-js.com">html-css-js.com</a> 
<img src="img1.png">

<div id="demotext">help </div>
    <p align="left">я</p>
<p align="center">не знаю</p>
<p align="right">что</p>
<p align="justify">делать</p>
<p>это текст да</p>

<h1>это</h1>
<h2>прекрасно</h2>
<h3>если</h3>
<h4>вы</h4>
<h5>не согласня</h5>
<h6>то не знаю я не умею нормально делть работу</h6>
<font color="red">
    </font>
<b>silver</b>
<p>{colourse:red}</p>
<diy clourse="Reddet"></diy>
<a href="about.html">нажми</a>
<!--************CODE GEOCOUNTER************-->
<a href="http://www.geovisites.com/zoom.php?compte=hhc1xbshbu9u"  target="_blank"><img src="https://geoloc5.geovisite.ovh/private/geocounter.php?compte=hhc1xbshbu9u&base=geoloc5" border="0" alt=""></a><!--************END CODE GEOCOUNTER************-->
<H2>I. Фрукты</H2>
<ol>
<li>Яблоки</li>
<ol>
<li>a. Зеленые</li>
<li>b.Красные</li>
</ol>
<li>o Апельсины</li>  
<li>1. Груши</li>
<li>II. Овощи</li>
<ul>
<li>1. Картофель</li>
<li>2. Морковь</li>
<li>3. Капуста</li> 
<li>a. Брокколи</li>
<li>b. Цветная</li>
<li>4. Свекла</li>
</ul>
</ol>
<img src="4.jpg">
<p>&nbsp;</p>

<marquee>This text will scroll from right to left</marquee>

<marquee direction="up">This text will scroll from bottom to top</marquee>

<marquee
  direction="down"
  width="250"
  height="200"
  behavior="alternate"
  style="border:solid">
  <marquee behavior="alternate"> This text will bounce </marquee>
</marquee>
<A HREF="INDEX2.HTML">самостоятельная работа </A> - это текстовая гиперссылка.
<A HREF="INDEX2.HTML"><img src="img1.gif"></A> - это графическая гиперссылка.
<A HREF="http://mail.ru">Почта</A> - ссылка на ресурс в Интернет.
<a href="#end">в конец документа</a>



<table width='100%' height='100%' valign='top'>
<tr height='10%' bgcolor='silver'>
<td colspan='3'>Это я</td>
</tr>
<tr height='80%'>
<td width='15%' bgcolor='green'>Не доберяйте Ромашке</td>
<td bgcolor='yellow'>Ромашка ты цветок?</td>
<td width='15%' bgcolor='green'>ребята я не знаю</td>
</tr>
<tr bgcolor='silver'>
<td colspan='3'>всем пока</td>
</tr>
</table>
<title>Панель навигации</title>

<title>Панель навигации</title>
32
<ul>
<li> <a href="1.html" target="f2">Пункт1</a></li>
<li><a href="2.html" target="f2"> Пункт2</a></li>
</ul>
<INPUT TYPE="тип" NAME="имя">
<INPUT TYPE="text" NAME="имя">
    <form>
<!-- поля ввода -->
<input type ="text" name="first_name" size="30">Имя<br>
<input type ="text" name="last_name" size="30">Фамилия<br>
<input type ="text" name="birthday" size="5" maxlength="4">Год рождения<br>
<!-- Поле пароля -->
Введите пароль <input type="password" name="pass" size="10"
maxlength="10"><br>
<!-- Поле загрузки файла -->
Укажите путь к файлу: <br><input type="file" size="17">
</form>
<!-- Группа переключателей -->
<h2>Цвет фона страницы</h2>
<br><input type="radio" name="color" value="white" checked >белый
<br><input type="radio" name="color" value="yellow"> желтый
<br><input type="radio" name="color" value="green" >Зеленый
<!-- Группа Флажков -->
<h2>Выберите фрукт</h2>
<input type="checkbox" name="fruit" value="pear" checked >Груша
<br><input type="checkbox" name= "fruit1" value="peach" >Персик
<br><input type="checkbox" name="fruit2" value="apple" >Яблоко<br>
<FORM>
<TABLE>
40
<CAPTION>Выберите страну:</CAPTION>
<TR><TD VALIGN="top">
<SELECT NAME="country" SIZE=’1’>
<OPTION VALUE="Белоруссия">Белоруссия
<OPTION VALUE="Казахстан">Казахстан
<OPTION VALUE="Россия">Россия
<OPTION VALUE="Украина">Украина
</SELECT>
</TD>
<TD VALIGN="top">
<SELECT NAME="Countries" size="3" MULTIPLE>
<OPTION VALUE= "Белоруссия">Белоруссия
<OPTION VALUE="Казахстан">Казахстан
<OPTION VALUE="Россия" SELECTED>Россия
<OPTION VALUE="Украина">Украина
</SELECT>
</TD></TR></TABLE>
</FORM>
<from>
<!-- поля ввода -->
<input type ="text" name="first_name" size="30">Имя<br>
<input type ="text" name="last_name" size="30">Фамилия<br>
<input type ="text" name="birthday" size="5" maxlength=’4’>Год рождения<br>
<!-- Поле пароля -->
Введите пароль <input type="password" name="pass" size="10"
maxlength="10"><br>
<!-- Поле загрузки файла -->
Укажите путь к файлу: <br><input type="file" size="17">
</from>
<input type="text" name="username" placeholder="Введите ваше имя"> 


<html> 
      <button class="btn">Кнопка 1</button> 
      <button class="btn">Кнопка 2</button> 
  

 

      <div class="container"> 
        <p>Параграф 1</p> 
        <p>Параграф 2</p> 
        <p>Параграф 3</p> 
      </div> 
  


      <img src="example.jpg" alt="Пример изображения" class="img-example"> 
      <p data-type="info">Информационный текст</p> 
      <p data-type="warning">Предупреждающий текст</p> 
      <p data-type="error">Текст ошибки</p> 
  


      <ul> 
         <li>Элемент списка 1</li> 
         <li>Элемент списка 2</li> 
         <li>Элемент списка 3</li> 
      </ul> 
      <p class="hover-text">Наведите курсор на этот текст</p> 
  
      <table> 
         <thead> 
            <tr> 
                <th>Заголовок 1</th> 
                <th>Заголовок 2</th> 
            </tr> 
         </thead> 
        
            <tr> 
                <td>Данные 1</td> 
                <td>Данные 2</td> 
            </tr> 
            <tr> 
                 <td>Данные 3</td> 
                 <td>Данные 4</td> 
            </tr> 
            <tr> 
                  <td>Данные 5</td> 
                  <td>Данные 6</td> 
            </tr> 
         
      </table> 
   


      <h1>Заголовок</h1> 
      <p>Текст параграфа.</p> 
   

<main class="wrapper">

  <h1>Это сайт</h1>

  <section class="all-sliders">
    <label class="slidecontainer first">
      <span style="font-size:36px">яркость</span>
      <input class="slider" id="range-slider" type="range" min="1" step="0.01" max="100" value="80">
    </label>

    <label class="slidecontainer second">
      <span style="font-size:36px">контраст</span>
      <input class="slider" id="range-slider2" type="range" min="1" step="0.01" max="100" value="20">
    </label>
  </section>

  <p>
   Ползуньки
    <a target="__blank" href="https://github.com/anuraghazra/Verly.js">Verly.js</a>
  </p>

 
</main>

 <a href="http://katalog-kursov.ru">katalog-kursov.ru</a>

<a href="http://w3schools.com">w3schools.com</a>  

<ul class="unstyled centered">
  <li>
    <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
    <label for="styled-checkbox-1">Checkbox</label>
  </li>
  <li>
    <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2" checked>
    <label for="styled-checkbox-2">CSS Only</label>
  </li>
  <li>
    <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value3" disabled>
    <label for="styled-checkbox-3">A disabled checkbox</label>
  </li>
  <li>
    <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value4">
    <label for="styled-checkbox-4">Fourth option</label>
  </li>
</ul>


    
    


<div id="ru">
  <div class="top">
    <header>
      <noindex>
        <a href="http://beget.com" target="_blank" title="Перейти на сайт хостинг-провайдера" class="logo" rel="nofollow">
          <img src="https://cp.beget.com/i/logo.png">
        </a>
      </noindex>
      <nav>
        <noindex><a href="https://cp.beget.com" target="_blank" rel="nofollow">Панель управления</a></noindex>
        <noindex><a href="https://beget.com/ru/domain-register" target="_blank" rel="nofollow">Регистрация доменов</a></noindex>
        <noindex><a href="https://beget.com/ru/virtual-hosting" target="_blank" rel="nofollow">Тарифы</a></noindex>
      </nav>
    </header>
    <main>
      <div class="octo">
        <img src="https://cp.beget.com/img/octo/octo_coffee.png">
      </div>
      <div class="b-alert b-alert--success b-alert--icon-check">
          Новый сайт успешно создан и готов к работе. Если у Вас возникли вопросы, мы с удовольствием ответим на них.
      </div>
      <div class="hint" id="cache-hint"></div>
    </main>
  </div>
  <hr>
  <div class="bottom-mobile">
    <footer>
      <h2>Тех. поддержка</h2>
      <p>
        <txt>Почта:</txt>
        <span><noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex></span></p>
      <p>
        <txt>Россия:</txt>
        <span>+7 (800) 700-06-08</span></p>
      <p>
        <txt>Украина:</txt>
        <span>+380 (800) 802-192</span></p>
    </footer>
  </div>
  <div class="bottom">
    <footer>
      <div class="footer-col">
        <div>Тех. поддержка:</div>
        <div>Бухгалтерия:</div>
        <div>Руководство:</div>
        <div>Telegram:</div>
        <div>Skype:</div>
      </div>
      <div class="footer-col" style="padding-right: 100px;">
        <noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex>
        <noindex><a href="mailto:bills@beget.com" rel="nofollow">bills@beget.com</a></noindex>
        <noindex><a href="mailto:manager@beget.com" rel="nofollow">manager@beget.com</a></noindex>
        <noindex><a href="tg://resolve?domain=begetbot" rel="nofollow">@begetbot</a></noindex>
        <noindex><a href="https://join.skype.com/bot/ceda3526-d09b-4157-b6f0-91a646073c7e?add" target="_blank" rel="nofollow">Добавить в контакты</a></noindex>
      </div>
      <div class="footer-col">
        <div>Россия:</div>
        <div>СПб:</div>
        <div>Москва:</div>
        <div>Украина:</div>
        <div>Киев:</div>
      </div>
      <div class="footer-col">
        <b>+7 (800) 700-06-08</b>
        <b>+7 (812) 3854136</b>
        <b>+7 (495) 721-80-88</b>
        <b>+380 (800) 802-192</b>
        <b>+380 (44) 300-02-18</b>
      </div>
    </footer>
  </div>
</div>

<div id="en" style="display: none">
  <div class="top">
    <header>
      <noindex>
        <a href="http://beget.com" target="_blank" title="Web hosting home page" class="logo" rel="nofollow">
          <img src="https://cp.beget.com/i/logo.png">
        </a>
      </noindex>
      <nav>
        <noindex><a href="https://cp.beget.com" target="_blank" rel="nofollow">Control Panel</a></noindex>
        <noindex><a href="https://beget.com/en/domain-register" target="_blank" rel="nofollow">Domain registration</a></noindex>
        <noindex><a href="https://beget.com/en/virtual-hosting" target="_blank" rel="nofollow">Plans</a></noindex>
      </nav>
    </header>
    <main>
      <div class="octo">
        <img src="https://cp.beget.com/img/octo/octo_coffee.png">
      </div>
      <div class="b-alert b-alert--success b-alert--icon-check">
          The new site has been successfully created and is ready to work. If you have any questions we will be happy to answer them.
      </div>
      <div class="hint" id="cache-hint"></div>
    </main>
  </div>
  <hr>
  <div class="bottom-mobile">
  </div>
  <div class="bottom">
  </div>
</div>
<script type="text/template" id="hotkeyTemplate">
  <% if ((browser.isOpera || browser.isFirefox || browser.isChrome) && browser.isMac) { %>
  <span class="key">⌘</span> + <span class="key">R</span>
  <% } %>
  <% if ((browser.isOpera || browser.isFirefox || browser.isChrome) && !browser.isMac) { %>
  <span class="key">Ctrl</span> + <span class="key">R</span>
  <% } %>
  <% if (browser.isIE || browser.isEdge) { %>
  <span class="key">Ctrl</span> + <span class="key">F5</span>
  <% } %>
  <% if (browser.isSafari) { %>
  <span class="key">⌥</span> + <span class="key">⌘</span> + <span class="key">E</span>
  <% } %>
</script>
<script type="text/template" id="instructionTemplateRu">
  <div>
    <% _.forEach(data, function(item, index) { %>
    <div class="instruction-row">
      <div><%- index + 1 %>. <%- item.text %></div>
      <% if (item.image) { %>
        <noindex>
          <a href="<%- item.image.normal %>" data-srcset="<%- item.image.normal %> 1x, <%- item.image.retina %> 2x"
             data-fancybox="instruction" data-caption="<%- item.text %>" rel="nofollow">
            <img src="<%- item.image.normal %>" srcset="<%- item.image.normal %> 1x, <%- item.image.retina %> 2x" width="99"
                 alt="<%- item.text %>">
          </a>
        </noindex>
      <% } %>
    </div>

    <% }) %>
  </div>
</script>
<script type="text/template" id="instructionTemplateEn">
  <% if (browser.isFirefox) { %>
  <div>
    <div class="instruction-row">1. Open the browser menu (three horizontal bars in the upper right corner of the window)</div>
    <div class="instruction-row">2. Select "Preferences"</div>
    <div class="instruction-row">3. Go to the "Privacy & Security" section.</div>
    <div class="instruction-row">4. Click "Clear history..."</div>
    <div class="instruction-row">5. In the window that appears, click "Clear Now”</div>
  </div>
  <% } %>
  <% if (browser.isChrome && !browser.isYandex) { %>
  <div>
    <div class="instruction-row">1. Open the browser menu (three horizontal bars in the upper right corner of the window)</div>
    <div class="instruction-row">2. Select "More tools" > "Clear browsing data..."</div>
    <div class="instruction-row">3. Click "Clear data"</div>
  </div>
  <% } %>
  <% if (browser.isSafari) { %>
  <div>
    <div class="instruction-row">1. In the menu bar select “Safari” > “Preferences”</div>
    <div class="instruction-row">2. Enable “Show Develop menu in menu bar” in Advanced section and close the window</div>
    <div class="instruction-row">3. In the menu bar select “Develop” > “Empty caches”</div>
  </div>
  <% } %>
  <% if (browser.isYandex) { %>
  <div>
    <div class="instruction-row">1. Open the browser menu (three horizontal bars in the upper right corner of the window)</div>
    <div class="instruction-row">2. Go to the "History" > "Settings - Clear browsing data"</div>
    <div class="instruction-row">3. Select "Cookies and other site data" and "Cached files", click "Clear browsing data"</div>
  </div>
  <% } %>
  <% if (browser.isOpera) { %>
  <div>
    <div class="instruction-row">1. Type ”opera://settings/clearBrowserData" in the address bar, press Enter</div>
    <div class="instruction-row">2. Select "Cookies and other site data" and "Cached images and files", click "Clear browsing data"</div>
  </div>
  <% } %>
  <% if (browser.isIE) { %>
  <div>
    <div class="instruction-row">1. Select “Tools” > “Delete browsing history"</div>
    <div class="instruction-row">2. Select “Temporary Internet files and website files” and press “Delete”</div>
  </div>
  <% } %>
</script>
<script type="text/template" id="cacheTemplateRu">
  <div class="hint">
    <h2>Проблема уже решена? Попробуйте сбросить кэш</h2>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span><a class="clear-cache"
                                                                          onclick="clearCache(event)" href="#">Очистите
        кэш автоматически</a></li>
      <% if (browser.isSafari) { %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span>Нажмите <b id="hotkey"></b>, затем перезагрузите
        страницу.
      </li>
      <% } else { %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span>Перезагрузите страницу, нажав <b id="hotkey"></b>
      </li>
      <% } %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span><a onclick="toggleInstruction(event)" href="#">Очистите кэш из настроек браузера <i class="fas fa-angle-down instruction-collapse-angle"></i></a>
        <div class="gallery">
          <div id="instruction"></div>
          Если не помогло - вы можете связаться с нашей службой технической поддержки с помощью раздела «Обратная связь»
          в панели управления хостингом или любым удобным для вас способом.
        </div>
      </li>

    </ul>
  </div>
</script>
<script type="text/template" id="cacheTemplateEn">
  <div class="hint">
    <h2>Is the problem solved? Try to reset the cache</h2>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span><a class="clear-cache"
                                                                          onclick="clearCache(event)" href="#">Clear the
        cache automatically</a></li>
      <% if (browser.isSafari) { %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span>Press <b id="hotkey"></b> and reload the page
      </li>
      <% } else { %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span>Reload the page by pressing <b id="hotkey"></b>
      </li>
      <% } %>
      <li><span class="fa-li"><i class="fas fa-angle-right"></i></span><a onclick="toggleInstruction(event)" href="#">Clear the cache from your browser settings <i class="fas fa-angle-down instruction-collapse-angle"></i></a>
        <div class="gallery">
          <div id="instruction"></div>
          If it does not help - you can contact our technical support service using the "Feedback" section in the
          hosting management panel or in any way convenient for you.
        </div>
      </li>
    </ul>
  </div>
</script>
<script type="text/template" id="bottomEn">
  <footer>
    <div class="footer-col">
      <div>Support:</div>
    </div>
    <div class="footer-col" style="padding-right: 100px;">
      <noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex>
    </div>
    <div class="footer-col">
      <div>Management:</div>
    </div>
    <div class="footer-col">
      <noindex><a href="mailto:manager@beget.com" rel="nofollow">manager@beget.com</a></noindex>
    </div>
  </footer>
</script>
<script type="text/template" id="bottomRu">
  <footer>
    <div class="footer-col">
      <div>Тех. поддержка:</div>
      <div>Бухгалтерия:</div>
      <div>Руководство:</div>
      <div>Telegram:</div>
      <div>Skype:</div>
    </div>
    <div class="footer-col" style="padding-right: 100px;">
      <noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex>
      <noindex><a href="mailto:bills@beget.com" rel="nofollow">bills@beget.com</a></noindex>
      <noindex><a href="mailto:manager@beget.com" rel="nofollow">manager@beget.com</a></noindex>
      <noindex><a href="tg://resolve?domain=begetbot" rel="nofollow">@begetbot</a></noindex>
      <noindex><a href="https://join.skype.com/bot/ceda3526-d09b-4157-b6f0-91a646073c7e?add" target="_blank" rel="nofollow">Добавить в контакты</a></noindex>
    </div>
    <div class="footer-col">
      <div>Россия:</div>
      <div>СПб:</div>
      <div>Москва:</div>
      <div>краина:</div>
      <div>Киев:</div>
    </div>
    <div class="footer-col">
      <b>+7 (800) 700-06-08</b>
      <b>+7 (812) 3854136</b>
      <b>+7 (495) 721-80-88</b>
      <b>+380 (800) 802-192</b>
      <b>+380 (44) 300-02-18</b>
    </div>
  </footer>
</script>
<script type="text/template" id="bottomMobileEn">
  <footer>
    <h2>Support</h2>
      <p><txt>Mail: </txt><span><noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex></span></p>
  </footer>
</script>
<script type="text/template" id="bottomMobileRu">
  <footer>
    <h2>Тех. поддержка</h2>
    <p><txt>Почта: </txt><span><noindex><a href="mailto:support@beget.com" rel="nofollow">support@beget.com</a></noindex></span></p>
    <p><txt>Россия:</txt> <span>+7 (800) 700-06-08</span></p>
    <p><txt>Украина:</txt> <span>+380 (800) 802-192</span></p>
  </footer>
</script>

<script>
    var browser = {
        // Opera 8.0+
        isOpera: (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0,
        // Firefox 1.0+
        isFirefox: typeof InstallTrigger !== 'undefined',
        // Safari 3.0+ "[object HTMLElementConstructor]"
        isSafari: /constructor/i.test(window.HTMLElement) || (function (p) {
            return p.toString() === "[object SafariRemoteNotification]";
        })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification)),
        // Internet Explorer 6-11
        isIE: /*@cc_on!@*/false || !!document.documentMode,
        // Edge 20+
        isEdge: !(/*@cc_on!@*/false || !!document.documentMode) && !!window.StyleMedia,
        // Chrome 1+
        isChrome: !!window.chrome && !!window.chrome.webstore,
        isYandex: !!window.yandex,
        isMac: window.navigator.platform.toUpperCase().indexOf('MAC') >= 0
    };

    var instructions = {
        firefox: [
            {
                "text": "Откройте меню браузера (три горизонтальные полоски в правом верхнем углу окна)"
            },
            {
                "text": 'Выберите "Настройки"',
                "image": {
                    normal: "https://cp.beget.com/shared/9fc46578a3f3beebbc6e3058537a3fcf/firefox2.png",
                    "retina": "https://cp.beget.com/shared/5fc2dd546f53e0902e15a3a70e4fe653/firefox22x.png"
                }
            },
            {
                "text": 'Перейдите в раздел “Приватность и защита”',
                "image": {
                    normal: "https://cp.beget.com/shared/6b5c3dfee3602b060a644965f11eabed/firefox3.png",
                    "retina": "https://cp.beget.com/shared/1f93b61fdeeed1161d5ff5aa36e76dc4/firefox32x.png"
                }
            },
            {
                "text": 'Нажмите кнопку "Удалить историю"',
                "image": {
                    normal: "https://cp.beget.com/shared/a41c785d3b44adcba2e1b90db2b77a37/firefox4.png",
                    "retina": "https://cp.beget.com/shared/1a512f91bcc8975205f979acf71d7d29/firefox42x.png"
                }
            },
            {
                "text": 'В появившемся окне нажмите “Удалить сейчас”',
                "image": {
                    "normal": "https://cp.beget.com/shared/a4f7c26338626b94ead39246a91aa4b3/firefox5.png",
                    "retina": "https://cp.beget.com/shared/745b3450fc1f4471ff21f6d64fc737b1/firefox52x.png"
                }
            }

        ],
        chrome: [
            {
                "text": "Откройте меню браузера (три горизонтальные полоски в правом верхнем углу окна)"
            },
            {
                "text": 'Выберите "Дополнительные инструменты" > "Очистить данные просмотров"',
                "image": {
                    "normal": "https://cp.beget.com/shared/f38d02735868ba6f0f0f6d0056fcb600/chrome2.png",
                    "retina": "https://cp.beget.com/shared/3c7ced0b4d09861e1884f5661f239fc0/chrome22x.png"
                }
            },
            {
                "text": 'В окне "Очистить историю" выберите "Изображения и другие файлы, сохранённые в кэше" и нажмите кнопку "Удалить данные"',
                "image": {
                    "normal": "https://cp.beget.com/shared/82ed82f2d8ca8099998398f34f6aa01a/chrome3.png",
                    "retina": "https://cp.beget.com/shared/5433ccd2ab6359de9db5b621c3a0b633/chrome32x.png"
                }
            }

        ],
        safari: [
            {
                "text": 'В меню браузера выберите пункт “Safari” > “Настройки”',
                "image": {
                    "normal": "https://cp.beget.com/shared/80113015aafa3f261ff2fe54ebd6508d/safari1.png",
                    "retina": "https://cp.beget.com/shared/f8f7096f67c0e3d82446d0ce6217b27d/safari12x.png"
                }
            },
            {
                "text": 'В  дополнениях включите опцию “Показывать меню «Разработка» в строке меню” и закройте окно',
                "image": {
                    "normal": "https://cp.beget.com/shared/1193ae0503f94daafb5dd14c87a1ddde/safari2.png",
                    "retina": "https://cp.beget.com/shared/138c05f2803ea0b167a7f975265ce43b/safari22x.png"
                }
            },
            {
                "text": 'В меню браузера выберите пункт “Разработка” > “Очистить кэши”',
                "image": {
                    "normal": "https://cp.beget.com/shared/87421068ec6d6013cade7cc6a37e9566/safari3.png",
                    "retina": "https://cp.beget.com/shared/13520f6e24d62a88aa7c54519eb1a647/safari32x.png"
                }
            }

        ],
        yandex: [
            {
                "text": 'Откройте меню браузера (три горизонтальные полоски в правом верхнем углу окна)'
            },
            {
                "text": 'Перейдите во вкладку "История"',
                "image": {
                    "normal": "https://cp.beget.com/shared/80ce1ee88a6a1cec9f2c7620f08a58c2/yandex2.png",
                    "retina": "https://cp.beget.com/shared/0693faca5588f69ca7da9fe4212cdc97/yandex22x.png"
                }
            },
            {
                "text": 'Нажмите "Очистить историю" (справа)',
                "image": {
                    "normal": "https://cp.beget.com/shared/ff268c78b70d486538ecede196a9c1f2/yandex3.png",
                    "retina": "https://cp.beget.com/shared/12096cc377f80dda5798cfe745bb66ec/yandex32x.png"
                }
            },
            {
                "text": 'Отметьте пункты "Файлы cookie и другие данные сайтов и модулей" и "файлы, сохраненные в кэше",  нажмите кнопку "Очистить историю"',
                "image": {
                    "normal": "https://cp.beget.com/shared/80e7ada09ac4b7da555a5119237ff108/yandex4.png",
                    "retina": "https://cp.beget.com/shared/daa75ad57baee73ff347e589e11fc90f/yandex42x.png"
                }
            }

        ],
        opera: [
            {
                "text": 'Введите в адресной строке “opera://settings/clearBrowserData”, нажмите клавишу Enter',
                "image": {
                    "normal": "https://cp.beget.com/shared/cfb3606fa62fb6a2f951d3e7cd24a8d9/opera1.png",
                    "retina": "https://cp.beget.com/shared/f72a61de7929ef3236d54a7eda5f27e2/opera12x.png"
                }
            },
            {
                "text": 'Поставьте галочки у пунктов "Файлы cookie и прочие данные сайтов" и "Кэшированные изображения и файлы", нажмите кнопку "Очистить историю посещений"',
                "image": {
                    "normal": "https://cp.beget.com/shared/d336439cc49a04a1885186dc1930c02c/opera2.png",
                    "retina": "https://cp.beget.com/shared/6d6888aac8d3896da5cd201e8d31670b/opera22x.png"
                }
            }
        ],
        ie: [
            {
                "text": 'Выберите “Сервис” > “Удаление журнала обозревателя…”',
                "image": {
                    "normal": "https://cp.beget.com/shared/3585ac62cef9f65d999df211007ce578/explorer.png",
                    "retina": "https://cp.beget.com/shared/33ae907b8ce690fe724d9616cb809d35/explorer2x.png"
                }
            }
        ],
    };

    function clearCache(event) {
        event.preventDefault();
        window.location.reload(true);
    }

    function toggleInstruction(e) {
        e.preventDefault();
        $(".gallery").slideToggle();
    };

    var language = window.navigator.language || navigator.userLanguage,
        ru = document.getElementById("ru"),
        en = document.getElementById("en");

    language = language.substr(0, 2).toLowerCase();

    var mainDiv = ru;

    if (language !== "ru") {
        document.title = "The new site has been successfully created and is ready to work"
        ru.style.display = "none"
        en.style.display = "flex"
        mainDiv = en;
    }
    var data = instructions.chrome;

    if (browser.isFirefox) {
        data = instructions.firefox;
    }
    if (browser.isChrome && !browser.isYandex) {
        data = instructions.chrome;
    }
    if (browser.isYandex) {
        data = instructions.yandex;
    }
    if (browser.isSafari) {
        data = instructions.safari;
    }
    if (browser.isOpera) {
        data = instructions.opera;
    }
    if (browser.isIE) {
        data = instructions.ie;
    }

    window.onload = function () {
        if (language === "ru") {
            mainDiv.querySelector("#cache-hint").innerHTML = _.template(document.getElementById("cacheTemplateRu").innerHTML)({browser: browser});
            mainDiv.querySelector("#hotkey").innerHTML = _.template(document.getElementById("hotkeyTemplate").innerHTML)({browser: browser});
            mainDiv.querySelector("#instruction").innerHTML = _.template(document.getElementById("instructionTemplateRu").innerHTML)({data: data});
            mainDiv.querySelector(".bottom").innerHTML = document.getElementById("bottomRu").innerHTML;
            mainDiv.querySelector(".bottom-mobile").innerHTML = document.getElementById("bottomMobileRu").innerHTML;
        } else {
            mainDiv.querySelector("#cache-hint").innerHTML = _.template(document.getElementById("cacheTemplateEn").innerHTML)({browser: browser});
            mainDiv.querySelector("#hotkey").innerHTML = _.template(document.getElementById("hotkeyTemplate").innerHTML)({browser: browser});
            mainDiv.querySelector("#instruction").innerHTML = _.template(document.getElementById("instructionTemplateEn").innerHTML)({data: data});
            mainDiv.querySelector(".bottom").innerHTML = document.getElementById("bottomEn").innerHTML;
            mainDiv.querySelector(".bottom-mobile").innerHTML = document.getElementById("bottomMobileEn").innerHTML;
        }
        $('[data-fancybox="instruction"]').fancybox({
            afterLoad: function (instance, current) {
                var pixelRatio = window.devicePixelRatio || 1;

                if (pixelRatio > 1.5) {
                    current.width = current.width / pixelRatio;
                    current.height = current.height / pixelRatio;
                }
            }
        });
    };

</script>
<nav>
    <a rel="stylesheet" href="style.css->помощь</a>
    
    	<li>item 1</li>
	<li>item 2</li>
</ul>
<ul>
    
  
   
 <div id="demotext">Edit this text</div>
    
    


  
</nav> 
</body>
   <head> 
      <meta charset="UTF-8"> 
   </head> 
   <body> 
   <nav> 
             <a href="https://html-css-js.com/">Ссылка 1</a> 
             <a href="https://www.w3schools.com/">Ссылка 2</a> 
             <a href="https://katalog-kursov.ru/lessons/html-css/">Ссылка 3</a> 
         </nav>
      <img class="filtered-image" src="image.jpg" alt="для слепых">
   </body> 

</html>
